.main{
    display: grid;
    grid-template-columns: 20% 80%; 
  }
  .one{
    grid-column-start: 1;
    grid-column-end: 1;
  
  }
  .two{
    grid-column-start: 2;
    grid-column-end: 2;
  }
  .three{
    grid-column-start: 3;
    grid-column-end: 3;
  }